.backbutton {
  background-color: var(--White);
  margin: 60px 40px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
  padding: 7px;
  width: 90px;
  display: flex;
  color: black;
}

.backbutton-dark {
  background-color: var(--DarkBlue);
  color: var(--White);
  margin: 60px 40px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 1);
  padding: 7px;
  width: 90px;
  display: flex;
}

.backbutton-dark svg {
  text-align: center;
  font-size: 18px;
  margin: 1px 10px 0 0;
  color: var(--White);
  float: left;
}

.backbutton svg {
  text-align: center;
  font-size: 18px;
  margin: 1px 10px 0 0;

  float: left;
}

.backbutton a {
  margin: 5px;
}

.backbutton-dark a {
  margin: 5px;
  color: var(--White);
  opacity: 0.6;
}
