.flag {
  width: 40%;
  margin-left: 6%;
  margin-right: 9%;
  float: left;
}

.details-columns {
  display: flex;
  margin: 0 10%;
  width: auto;
}

.col-2 {
  margin-top: 93px;
  margin-left: 80px;
}

.col-1 {
  width: 50%;
}

ul {
  display: flex;
}

.link {
  list-style: none;
  margin: 5px;
  border: 1px solid var(--DarkGray);
  padding: 0 10px;
  border-radius: 7px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.link-dark {
  list-style: none;
  margin: 5px;
  border: 1px solid var(--White);
  padding: 0 10px;
  border-radius: 7px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
  color: white;
}

.link-dark a {
  color: white;
}

.link:hover {
  background-color: var(--DarkBlue);
  color: var(--White);
}

.link-dark:hover {
  color: black;
  background-color: cadetblue;
}

.link-dark a:hover {
  color: black;
}

.data {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  font-weight: 400;
  margin-left: 5px;
}

.detailpage-dark {
  background-color: var(--VeryDarkBlue);
  color: var(--White);
  height: 100vh;
}

.container {
  width: inherit;
  margin-left: auto;
  margin-top: 30px;
}

.countryName {
  font-size: 25px;
  font-weight: 800;
  text-align: start;
}

.info-box {
  display: flex;
  margin-top: 10px;
}

.borders {
  display: flex;
  margin-top: 50px;
}

.b-links {
  flex-wrap: wrap;
}

.titles {
  width: auto;
}

@media screen and (max-width: 900px) {
  .details-columns {
    width: 100%;
    display: block;
  }

  .flag {
    width: 80%;
    margin: 0 6%;
  }

  .col-2 {
    margin: 0;
    text-align: center;
    width: auto;
  }

  .flag {
    margin-bottom: 50px;
  }

  .borders {
    text-align: center;
    margin-left: 10%;
    padding-bottom: 50px;
  }

  .container {
    width: 80%;
    margin: auto;
    text-align: center;
  }
}

@media screen and (max-width: 370px) {
  .borders {
    display: flex;
    flex-direction: column;
  }

  ul {
    display: block;
    margin: auto;
  }

  .link {
    margin-top: 5px;
  }
}
