.card {
  cursor: pointer;
  background-color: var(--White);
  width: 85%;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-dark {
  cursor: pointer;
  background-color: var(--DarkBlue);
  color: var(--White);
  width: 85%;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.flag-main {
  aspect-ratio: 16/9;
  object-fit: cover;
}

.card-dark img {
  aspect-ratio: 16/9;
  object-fit: cover;
}
.card-info {
  display: flex;
  font-size: 14px;
  text-align: center;
  align-items: center;
  font-weight: 600;
}

.card-data {
  margin: 15% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 370px) {
  .card-data {
    margin: 15% 10px;
  }
}
