.searchbar {
  display: flex;
  margin: auto;
  margin-top: 40px;
  margin-left: 30px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.03);
  width: auto;
  border-radius: 15px;
}

@media screen and (max-width: 600px) {
  .searchbar {
    margin: auto;
    margin-top: 55px;
    width: 70%;
  }

  .searchbar-dark {
    margin: auto;
    margin-top: 55px;
    width: 70%;
  }
}

@media screen and (max-width: 300px) {
  .searchbar {
    margin: auto;
    margin-top: 55px;
    width: 100%;
  }

  .searchbar-dark {
    margin: auto;
    margin-top: 55px;
    width: 100%;
  }
}

.searchbar-dark {
  display: flex;
  margin: auto;
  margin-top: 40px;
  margin-left: 30px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 1);
  width: auto;
  border-radius: 15px;
}

.input {
  border: none;
  font-size: 16px;
  padding: 15px;
  border-radius: 0 15px 15px 0;
  width: 100%;
  color: var(--DarkGray);
}

.input-dark {
  border: none;
  font-size: 16px;
  padding: 10px;
  border-radius: 0 15px 15px 0;
  width: 100%;
  color: white;
  background: var(--DarkBlue);
}

.input-dark::placeholder {
  color: var(--White);
  opacity: 0.6;
}

.searchbar svg {
  color: var(--DarkGray);
  padding: 18px;
  padding-right: 5px;
  background-color: var(--White);
  font-size: 25px;
  border-radius: 15px 0 0 15px;
}

.searchbar-dark svg {
  color: var(--White);
  padding: 18px;
  padding-right: 5px;
  background-color: var(--DarkBlue);
  font-size: 25px;
  border-radius: 15px 0 0 15px;
}
