@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

:root {
  /* (Dark Mode Elements) */
  --DarkBlue: hsl(209, 23%, 22%);
  --VeryDarkBlue: hsl(207, 26%, 17%);

  /* (Light Mode Text) */
  --VeryDarkBlue: hsl(200, 15%, 8%);
  /* (Light Mode Input) */
  --DarkGray: hsl(0, 0%, 52%);
  /* (Light Mode Background) */
  --VeryLightGray: hsl(0, 0%, 98%);
  /* (Dark Mode Text & Light Mode Elements) */
  --White: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
}

.home {
  background-color: var(--VeryLightGray);
  width: 98.7vw;
}

.home-dark {
  background-color: var(--VeryDarkBlue);
  background-size: cover;
  width: 100%;
  height: 100%;
}

.inputs {
  display: flex;
}

.cards {
  color: black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 60px;
  grid-column-gap: 0px;
  margin-top: 90px;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

.detailpage {
  height: 100vh;
}

.details {
  margin: auto;
}

@media screen and (max-width: 600px) {
  .details {
    display: block;
    text-align: center;
    margin: auto;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-row-gap: 30px;
  }

  .card {
    height: 350px;
  }

  .inputs {
    display: block;
    width: auto;
  }
}

@media screen and (max-width: 370px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    grid-row-gap: 30px;
  }

  .card {
    height: 450px;
  }
}
